.table-button {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-alignment: center;

    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-min-width: 150;
    -fx-min-height: 150;

    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.table-button:hover {
    -fx-opacity: 0.8;
}